* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-image: url("image/bgk.gif");
    background-repeat: no-repeat;
    background-size: 99%;
    color: #333;
    padding: 20px;
}

h1, h2 {
    font-family: ChopinScript;
}


main {
    max-width: 900px;
    margin:  0 auto;
    padding: 20px;
    background-color: #fffef5d7;
    border-radius: 5px;
    box-shadow: 0 4px 8px;
}

#title {
    text-align: center;
    font-size: 60px;
    color: #333;
    margin-bottom: 3px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

img {
   width: 80%;
   height: auto;
}


#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#img-caption {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

#tribute-info {
    margin-bottom: 20px;
}

#contribution {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: left;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
}

a {
    font-size: 1.5rem;
    font-family: ChopinScript;
    text-decoration: none;
    color: #333;
}

a :hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #title {
        font-size: 2rem;
    }

    p, ul, li {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 1.1rem;
    }

    main {
        padding: 15px;
    }
}

@font-face {
    font-family: ChopinScript;
    src: url("font/ChopinScript.ttf");
}